body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.text{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: #121212;
    position: relative;
    /* width: 100%; */
}

span{
    position:relative ;
    display: inline-block;
    /* color: blue; */
   
    
}


.text:hover span{
    animation: animate 1s ease-in-out normal;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0%{
        transform: translateY(0px);
    }20%{
        transform: translateY(-20px);
    }40%,100%{
        transform: translateY(0px);
    }
}
